.popup {
  position: fixed; /*при прокрутке экрана, элемент остается на своей позиции*/
  justify-content: center; /*для центрирования попапа по горизонтали*/
  align-items: center; /*для центрирования попапа по вертикали*/
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: none; /*элемент и все его дочерние элементы больше не будут восприниматься технологиями чтения экрана. Элемент скрыт до нажатия на кнопку-карандаш*/
  background-color: rgba(0, 0, 0, .5); /*затемнение между основной страницей и попапом 50%*/
  /*background: #000000;
  opacity: 0.5;*/
  z-index: 2;
}
