.page  {
  max-width: 880px; /*задаем максимальную ширину page, чтобы на больших экранах она не увеличивалась и не была гигантской*/
  height: 100%;
  background:  #000000;
  margin: 0 auto; /*для экранов больше 1280px экран будет по центру*/
}
