.header__logo {
  width: 142px;
  height: 33px;
  justify-content: flex-start;
}

@media(max-width: 880px) {
  .header__logo {
    padding: 0 0 0 27px;
 }
}

@media(max-width: 650px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
 }
}
