.element {
  width: 282px;
  min-height: 361px;
  border-radius: 10px 10px 10px 10px; /*скругляем края*/
  overflow: hidden; /*Без скрытия содержимого скругление не будет работать, так как в карточки вложены элементы(которые перекрывают скругление)*/
  /*hidden отображается только область внутри элемента, остальное будет скрыто.*/
  line-height: 0;
  position: relative;
}
