.popup__inputs {
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__inputs {
  margin: 0 0 48px 0;
}

@media (max-width: 580px) {
  .popup__inputs {
    margin: 0 0 45px 0;
  }
}

.popup__inputs:first-child {
  margin: 0 0 17px 0;
}
