.element__title-heart {
  width: 282px;
  margin: 0;
  padding: 25px 21px 25px 21px;
  background-color: #FFFFFF;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}
